@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:root {
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-21: 21px;
  --fs-22: 22px;
  --fs-23: 23px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fs-26: 26px;
  --fs-27: 27px;
  --fs-28: 28px;
  --fs-29: 29px;
  --fs-30: 30px;
  --body-font-size: 14px;
  --header-height: 50px;
  --button-height: 50px;
  --form-input-font-size: 14px;
  --form__button-height: 45px;
  --form__button-radius: 25px;
  --fs-modal-confirm-botton: 14px;
  --jazenet-logo-width: 170px;
  --list-style-icon-1-width: 35px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:root {
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-21: 21px;
  --fs-22: 22px;
  --fs-23: 23px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fs-26: 26px;
  --fs-27: 27px;
  --fs-28: 28px;
  --fs-29: 29px;
  --fs-30: 30px;
  --body-font-size: 14px;
  --header-height: 50px;
  --button-height: 50px;
  --form-input-font-size: 14px;
  --form__button-height: 45px;
  --form__button-radius: 25px;
  --fs-modal-confirm-botton: 14px;
  --jazenet-logo-width: 170px;
  --list-style-icon-1-width: 35px;
}

.font-poppins-light {
  font-family: "Poppins light";
}

.font-poppins-regular {
  font-family: "Poppins regular";
}

.font-poppins-medium {
  font-family: "Poppins medium";
}

.font-poppins-bold {
  font-family: "Poppins bold";
}

.font-poppins-black {
  font-family: "Poppins black";
}

.font-poppins-thin {
  font-family: "Poppins thin";
}

.fs-8 {
  font-size: 8px;
}

.fs-8-important {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px;
}

.fs-9-important {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-10-important {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px;
}

.fs-11-important {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-12-important {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px;
}

.fs-13-important {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-14-important {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px;
}

.fs-15-important {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px;
}

.fs-16-important {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px;
}

.fs-17-important {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px;
}

.fs-18-important {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px;
}

.fs-19-important {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-20-important {
  font-size: 20px !important;
}

.fs-21 {
  font-size: 21px;
}

.fs-21-important {
  font-size: 21px !important;
}

.fs-22 {
  font-size: 22px;
}

.fs-22-important {
  font-size: 22px !important;
}

.fs-23 {
  font-size: 23px;
}

.fs-23-important {
  font-size: 23px !important;
}

.fs-24 {
  font-size: 24px;
}

.fs-24-important {
  font-size: 24px !important;
}

.fs-25 {
  font-size: 25px;
}

.fs-25-important {
  font-size: 25px !important;
}

.fs-26 {
  font-size: 26px;
}

.fs-26-important {
  font-size: 26px !important;
}

.fs-27 {
  font-size: 27px;
}

.fs-27-important {
  font-size: 27px !important;
}

.fs-28 {
  font-size: 28px;
}

.fs-28-important {
  font-size: 28px !important;
}

.fs-29 {
  font-size: 29px;
}

.fs-29-important {
  font-size: 29px !important;
}

.fs-30 {
  font-size: 30px;
}

.fs-30-important {
  font-size: 30px !important;
}

.fs-31 {
  font-size: 31px;
}

.fs-31-important {
  font-size: 31px !important;
}

.fs-32 {
  font-size: 32px;
}

.fs-32-important {
  font-size: 32px !important;
}

.fs-33 {
  font-size: 33px;
}

.fs-33-important {
  font-size: 33px !important;
}

.fs-34 {
  font-size: 34px;
}

.fs-34-important {
  font-size: 34px !important;
}

.fs-35 {
  font-size: 35px;
}

.fs-35-important {
  font-size: 35px !important;
}

.fs-36 {
  font-size: 36px;
}

.fs-36-important {
  font-size: 36px !important;
}

.fs-37 {
  font-size: 37px;
}

.fs-37-important {
  font-size: 37px !important;
}

.fs-38 {
  font-size: 38px;
}

.fs-38-important {
  font-size: 38px !important;
}

.fs-39 {
  font-size: 39px;
}

.fs-39-important {
  font-size: 39px !important;
}

.fs-40 {
  font-size: 40px;
}

.fs-40-important {
  font-size: 40px !important;
}

.fs-41 {
  font-size: 41px;
}

.fs-41-important {
  font-size: 41px !important;
}

.fs-42 {
  font-size: 42px;
}

.fs-42-important {
  font-size: 42px !important;
}

.fs-43 {
  font-size: 43px;
}

.fs-43-important {
  font-size: 43px !important;
}

.fs-44 {
  font-size: 44px;
}

.fs-44-important {
  font-size: 44px !important;
}

.fs-45 {
  font-size: 45px;
}

.fs-45-important {
  font-size: 45px !important;
}

.fs-46 {
  font-size: 46px;
}

.fs-46-important {
  font-size: 46px !important;
}

.fs-47 {
  font-size: 47px;
}

.fs-47-important {
  font-size: 47px !important;
}

.fs-48 {
  font-size: 48px;
}

.fs-48-important {
  font-size: 48px !important;
}

.fs-49 {
  font-size: 49px;
}

.fs-49-important {
  font-size: 49px !important;
}

.fs-50 {
  font-size: 50px;
}

.fs-50-important {
  font-size: 50px !important;
}

.fs-55 {
  font-size: 55px;
}

.fs-55-important {
  font-size: 55px !important;
}

.fs-60 {
  font-size: 60px;
}

.fs-60-important {
  font-size: 60px !important;
}

.fs-65 {
  font-size: 65px;
}

.fs-65-important {
  font-size: 65px !important;
}

.fs-70 {
  font-size: 70px;
}

.fs-70-important {
  font-size: 70px !important;
}

.fs-75 {
  font-size: 75px;
}

.fs-75-important {
  font-size: 75px !important;
}

.fs-80 {
  font-size: 80px;
}

.fs-80-important {
  font-size: 80px !important;
}

.fs-85 {
  font-size: 85px;
}

.fs-85-important {
  font-size: 85px !important;
}

.fs-90 {
  font-size: 90px;
}

.fs-90-important {
  font-size: 90px !important;
}

.fs-95 {
  font-size: 95px;
}

.fs-95-important {
  font-size: 95px !important;
}

.fs-100 {
  font-size: 100px;
}

.fs-100-important {
  font-size: 100px !important;
}

.font-montserrat-light {
  font-family: "Montserrat light";
}

.font-montserrat-bold {
  font-family: "Montserrat bold";
}

.font-montserrat-semibold {
  font-family: "Montserrat semibold";
}

.font-montserrat-medium {
  font-family: "Montserrat medium";
}

.font-montserrat-extralight {
  font-family: "Montserrat extralight";
}

.font-montserrat-extrabold {
  font-family: "Montserrat extrabold";
}

.font-gotham-light {
  font-family: "Gotham light";
}

.font-gotham-book {
  font-family: "Gotham book";
}

.font-gotham-medium {
  font-family: "Gotham medium";
}

.font-gotham-bold {
  font-family: "Gotham bold";
}

.font-gotham-black {
  font-family: "Gotham black";
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:root {
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-21: 21px;
  --fs-22: 22px;
  --fs-23: 23px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fs-26: 26px;
  --fs-27: 27px;
  --fs-28: 28px;
  --fs-29: 29px;
  --fs-30: 30px;
  --body-font-size: 14px;
  --header-height: 50px;
  --button-height: 50px;
  --form-input-font-size: 14px;
  --form__button-height: 45px;
  --form__button-radius: 25px;
  --fs-modal-confirm-botton: 14px;
  --jazenet-logo-width: 170px;
  --list-style-icon-1-width: 35px;
}

.btn-theme-primary {
  background-color: #FB4551;
  color: #ffffff;
  border-radius: 30px;
  height: var(--form__button-height);
  border-radius: var(--form__button-radius);
  font-family: "Poppins Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-theme-dark {
  background-color: #212121;
  color: #ffffff;
  border-radius: 30px;
  height: var(--form__button-height);
  border-radius: var(--form__button-radius);
  font-family: "Poppins Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-theme {
  /* Change Autocomplete styles in Chrome*/
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.form-theme input:-webkit-autofill,
.form-theme input:-webkit-autofill:hover,
.form-theme input:-webkit-autofill:focus,
.form-theme textarea:-webkit-autofill,
.form-theme textarea:-webkit-autofill:hover,
.form-theme textarea:-webkit-autofill:focus,
.form-theme select:-webkit-autofill,
.form-theme select:-webkit-autofill:hover,
.form-theme select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.form-theme input::-webkit-outer-spin-button,
.form-theme input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-theme input[type=number] {
  -moz-appearance: textfield;
}
.form-theme .has-off-on .checkbox-onoff {
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 1;
}
.form-theme .form-group {
  position: relative;
  border-bottom: 1px solid #B5B7B9;
  margin-bottom: 22px;
}
.form-theme .form-group.from-group-input {
  height: 40px;
}
.form-theme .form-group .dropdown-toggle-clean {
  z-index: 11;
}
.form-theme .form-group .dropdown-toggle-clean .btn-dropdown-icon::after {
  display: none;
}
.form-theme .form-group .dropdown-toggle-clean .dropdown-toggle {
  height: 40px;
  box-shadow: none !important;
}
.form-theme .form-group button.dropdown-toggle {
  outline: none;
  box-shadow: none !important;
}
.form-theme .form-group .btn-dropdown-icon.dropdown-right::after {
  position: absolute;
  right: 10px;
  top: 18px;
}
.form-theme .form-group .dropdown-with-check .dropdown-item {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-theme .form-group .dropdown-with-check .dropdown-item::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: #F2F2F2;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}
.form-theme .form-group .dropdown-with-check .dropdown-item.selected::after {
  background-color: #1CA990;
}
.form-theme .form-group .boostrap-select-front {
  z-index: 11;
}
.form-theme .form-group .boostrap-select2 > div[class*=-control] {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}
.form-theme .form-group .boostrap-select2 > div[class*=-menu] {
  background-color: #ffffff !important;
  z-index: 111;
}
.form-theme .form-group .boostrap-select2 span[class*=-indicatorSeparator],
.form-theme .form-group .boostrap-select2 div[class*=-IndicatorSeparator],
.form-theme .form-group .boostrap-select2 div[class*=-indicatorContainer],
.form-theme .form-group .boostrap-select2 div[class*=-IndicatorContainer],
.form-theme .form-group .boostrap-select2 div[class*=-indicatorsContainer],
.form-theme .form-group .boostrap-select2 div[class*=-IndicatorsContainer] {
  opacity: 0;
}
.form-theme .form-group.active {
  outline: none !important;
  box-shadow: none;
}
.form-theme .form-group.active label {
  transform: translate(0, -15px) !important;
  font-size: 10px !important;
  color: #1CA990 !important;
}
.form-theme .form-group.optional {
  padding-right: 90px;
}
.form-theme .form-group.optional .optional-label {
  position: absolute;
  top: 8px;
  right: 15px;
  color: #aba9a9;
  max-width: 200px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  background-color: #fff;
  max-width: 160px;
  z-index: 1;
}
.form-theme .form-group.optional .optional-label.position-placeholder {
  top: -8px;
  left: 95px;
  font-size: 10px;
}
.form-theme .form-group.error-important {
  border-bottom: 1px solid #c10000 !important;
}
.form-theme .form-group.error {
  border-bottom: 1px solid #c10000 !important;
}
.form-theme .form-group .dropdown-menu {
  border-radius: 0 !important;
}
.form-theme .form-group span.optional {
  position: absolute;
  right: 0;
  font-size: var(--form-label-font-size);
  color: #d4d4d4;
  font-family: "Gotham Book";
  letter-spacing: 0;
  bottom: 13px;
  font-style: initial;
}
.form-theme .form-group div.form-label,
.form-theme .form-group label.form-label {
  position: absolute;
  left: 0;
  top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: lowercase;
  color: #aba9a9;
  font-size: var(--form-label-font-size);
  font-family: "Gotham Book";
  letter-spacing: 0;
  transition: all 0.5s ease;
  width: 100%;
}
.form-theme .form-group .dropdown-country-selection button.dropdown-toggle span {
  font-size: var(--form-input-font-size);
}
.form-theme .form-group .form-control,
.form-theme .form-group .form-input {
  border: 0;
  width: 100%;
  min-height: 36px;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background-color: transparent;
  outline: none;
  font-size: var(--form-input-font-size);
  font-family: "Gotham Book";
  letter-spacing: 0;
  text-transform: lowercase;
  resize: none;
  color: #000000;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.form-theme .form-group .form-control::before, .form-theme .form-group .form-control::after,
.form-theme .form-group .form-input::before,
.form-theme .form-group .form-input::after {
  display: none;
}
.form-theme .form-group .form-control:not(:-moz-placeholder-shown), .form-theme .form-group .form-input:not(:-moz-placeholder-shown) {
  outline: none !important;
  box-shadow: none;
}
.form-theme .form-group .form-control:not(:placeholder-shown), .form-theme .form-group .form-control:focus,
.form-theme .form-group .form-input:not(:placeholder-shown),
.form-theme .form-group .form-input:focus {
  outline: none !important;
  box-shadow: none;
}
.form-theme .form-group .form-control:not(:-moz-placeholder-shown) ~ label, .form-theme .form-group .form-input:not(:-moz-placeholder-shown) ~ label {
  transform: translate(0, -15px) !important;
  font-size: 10px !important;
  color: #FB4551;
  z-index: 1;
  background-color: #ffffff;
}
.form-theme .form-group .form-control:not(:placeholder-shown) ~ label, .form-theme .form-group .form-control:focus ~ label,
.form-theme .form-group .form-input:not(:placeholder-shown) ~ label,
.form-theme .form-group .form-input:focus ~ label {
  transform: translate(0, -15px) !important;
  font-size: 10px !important;
  color: #FB4551;
  z-index: 1;
  background-color: #ffffff;
}
.form-theme .form-group .form-control.form-input-label,
.form-theme .form-group .form-input.form-input-label {
  display: flex;
  align-items: center;
}
.form-theme .form-group .form-control.hide-arrow::-webkit-outer-spin-button, .form-theme .form-group .form-control.hide-arrow::-webkit-inner-spin-button,
.form-theme .form-group .form-input.hide-arrow::-webkit-outer-spin-button,
.form-theme .form-group .form-input.hide-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-theme .form-group .form-control.hide-arrow[type=number],
.form-theme .form-group .form-input.hide-arrow[type=number] {
  -moz-appearance: textfield;
}
.form-theme .form-group .form-control-inherit {
  min-height: auto;
  height: auto;
}
.form-theme .form-group form-control[autoComplete=new-password],
.form-theme .form-group .form-input[autoComplete=new-password],
.form-theme .form-group .form-control[autocomplete=new-password],
.form-theme .form-group .form-input[autocomplete=new-password] {
  text-transform: initial !important;
}
.form-theme .form-group-datepicker .react-datepicker-wrapper {
  position: absolute;
  top: 0;
}
.form-theme .form-group-datepicker .react-datepicker-wrapper .form-control {
  color: transparent;
}
.form-theme .react-time-picker .react-time-picker__wrapper {
  border: 0;
}
.form-theme .react-time-picker .react-time-picker__clock {
  opacity: 0.2;
}
.form-theme .react-datepicker-popper {
  z-index: 11;
}
.form-theme.form-theme-dark input:-webkit-autofill,
.form-theme.form-theme-dark input:-webkit-autofill:hover,
.form-theme.form-theme-dark input:-webkit-autofill:focus,
.form-theme.form-theme-dark textarea:-webkit-autofill,
.form-theme.form-theme-dark textarea:-webkit-autofill:hover,
.form-theme.form-theme-dark textarea:-webkit-autofill:focus,
.form-theme.form-theme-dark select:-webkit-autofill,
.form-theme.form-theme-dark select:-webkit-autofill:hover,
.form-theme.form-theme-dark select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
}
.form-theme.form-theme-dark .form-group {
  border-color: rgba(219, 219, 219, 0.5098039216);
}
.form-theme.form-theme-dark .form-group.error {
  border-color: #ffffff;
}
.form-theme.form-theme-dark .form-control,
.form-theme.form-theme-dark .form-input {
  color: #000000;
}
.form-theme.form-theme-dark .form-control:not(:-moz-placeholder-shown) ~ label, .form-theme.form-theme-dark .form-input:not(:-moz-placeholder-shown) ~ label {
  color: #FB4551;
}
.form-theme.form-theme-dark .form-control:not(:placeholder-shown) ~ label, .form-theme.form-theme-dark .form-control:focus ~ label,
.form-theme.form-theme-dark .form-input:not(:placeholder-shown) ~ label,
.form-theme.form-theme-dark .form-input:focus ~ label {
  color: #FB4551;
}
.form-theme.form-theme-dark .form-group-mobile .dropdown-country-selection.show-arrow .dropdown-toggle::after {
  filter: invert(1);
}
.form-theme.form-theme-dark .form-group-mobile .dropdown-country-selection.show-arrow-important .dropdown-toggle::after {
  z-index: 1;
}
.form-theme.form-theme-dark .optional .optional-label {
  background-color: #000000;
}
.form-theme.form-theme-dark .optional .optional-label span {
  filter: invert(1);
}

.form-group-mobile {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  padding: 0 10px;
}
.form-group-mobile .flag-code {
  display: flex;
  align-items: center;
}
.form-group-mobile .flag-code span {
  font-size: 14px !important;
}
.form-group-mobile.with-arrow {
  grid-template-columns: 90px auto;
}

input[type=checkbox].checkbox-onoff,
.checkbox-onoff input[type=checkbox] {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 33px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(230, 230, 230);
  transition: all 0.3s ease;
}
input[type=checkbox].checkbox-onoff::before,
.checkbox-onoff input[type=checkbox]::before {
  content: "";
  width: 17px;
  height: 17px;
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  transition: all 0.3s ease;
}
input[type=checkbox].checkbox-onoff:checked,
.checkbox-onoff input[type=checkbox]:checked {
  background-color: #1CA990;
}
input[type=checkbox].checkbox-onoff:checked::before,
.checkbox-onoff input[type=checkbox]:checked::before {
  left: inherit;
  right: 2px;
}

input[type=checkbox].checkbox-default,
.checkbox-default input[type=checkbox] {
  position: relative;
  top: 1px;
  right: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #F2F2F2;
  margin: 0 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0 !important;
  overflow: hidden;
  transition: all 0.3s ease;
}
input[type=checkbox].checkbox-default:checked,
.checkbox-default input[type=checkbox]:checked {
  outline: none;
  background-color: #1CA990;
  transition: all 0.3s ease;
}
input[type=checkbox].checkbox-default:focus,
.checkbox-default input[type=checkbox]:focus {
  outline: none;
}

input[type=checkbox].checkbox-radio-default,
input[type=radio].checkbox-radio-default,
.checkbox-radio-default input[type=radio],
.checkbox-radio-default input[type=checkbox] {
  position: relative;
  top: 1px;
  right: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #F2F2F2;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

input[type=checkbox].checkbox-radio-default:checked,
input[type=radio].checkbox-radio-default:checked,
.checkbox-radio-default input[type=radio]:checked,
.checkbox-radio-default input[type=checkbox]:checked {
  outline: none;
  background: #1CA990;
  border: 3px solid #747474;
  transition: all 0.5s ease;
}

input[type=checkbox].checkbox-radio-default:focus,
input[type=radio].checkbox-radio-default:focus,
.checkbox-radio-default input[type=radio]:focus,
.checkbox-radio-default input[type=checkbox]:focus {
  outline: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:root {
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-21: 21px;
  --fs-22: 22px;
  --fs-23: 23px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fs-26: 26px;
  --fs-27: 27px;
  --fs-28: 28px;
  --fs-29: 29px;
  --fs-30: 30px;
  --body-font-size: 14px;
  --header-height: 50px;
  --button-height: 50px;
  --form-input-font-size: 14px;
  --form__button-height: 45px;
  --form__button-radius: 25px;
  --fs-modal-confirm-botton: 14px;
  --jazenet-logo-width: 170px;
  --list-style-icon-1-width: 35px;
}

.react-confirm-alert-overlay {
  z-index: 1111 !important;
  background: rgba(0, 0, 0, 0.8196078431) !important;
  font-family: "Gotham Book";
  text-transform: lowercase;
  animation: react-confirm-alert-fadeIn 0.2s 0.2s forwards;
  /* 
  &.warning h1,
  &.warning h2,
  &.error h1,
  &.error h2{
      color: $color-red-light;
  } */
}
.react-confirm-alert-overlay h1, .react-confirm-alert-overlay h2 {
  font-size: var(--fs-18);
  padding-bottom: 10px;
  font-family: "Gotham Medium";
}
.react-confirm-alert-overlay .react-confirm-alert-body {
  border-radius: 16px !important;
  text-align: center;
  font-family: "Gotham Book";
  font-size: var(--fs-16);
  color: #000000 !important;
  width: 550px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 1.3;
}
.react-confirm-alert-overlay .react-confirm-alert-button-group > button {
  border-radius: 0 !important;
  padding: 12px 10px !important;
  font-family: "Gotham Bold";
  font-size: var(--fs-modal-confirm-botton);
  min-width: 135px;
  text-transform: lowercase;
  width: 49%;
  height: var(--button-height);
  margin-right: 1px;
  position: relative;
  background: #000000;
}
.react-confirm-alert-overlay .react-confirm-alert-button-group > button:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.react-confirm-alert-overlay .react-confirm-alert-button-group > button:last-child {
  margin-right: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.react-confirm-alert-overlay .react-confirm-alert-button-group {
  margin-top: 50px !important;
  justify-content: center;
}
.react-confirm-alert-overlay .react-confirm-alert-button-group > button:only-child {
  width: 100%;
  margin: 0 auto;
  border-radius: 4px !important;
}
.react-confirm-alert-overlay.normal-font-style .react-confirm-alert-body {
  font-family: "Gotham Book";
}
.react-confirm-alert-overlay.warning-message .react-confirm-alert-body > h1 {
  color: #F85B60;
}
.react-confirm-alert-overlay.no-title .react-confirm-alert-body > h1 {
  display: none;
}
.react-confirm-alert-overlay.warning-account-deactivate .react-confirm-alert-body {
  font-size: var(--fs-16);
}

.react-confirm-alert-svg {
  display: none;
}

/*****************************************************************************************
 * BEGIN HERE
 *****************************************************************************************/
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins Regular";
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  /* optional: show position indicator in red */
  background-color: #000000;
  color: #ffffff;
}
body::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
body::-webkit-scrollbar-thumb {
  background: transparent;
}

a, a:hover {
  font-family: "Poppins Regular";
  text-decoration: none;
  color: #FB4551;
}

ol, ul {
  padding-left: 0;
  margin-bottom: 0;
}

button {
  outline: none;
  border: 0;
  background: no-repeat;
  line-height: 0;
}

header {
  border-bottom: 1px solid;
  border-color: #4A4A4A;
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header nav.main-nav {
  height: var(--header-height);
}
header nav.main-nav a, header nav.main-nav a:hover {
  color: #ffffff;
  font-family: "Poppins Medium";
}

.footer a, .footer a:hover {
  color: #ffffff;
  font-family: "Poppins Medium";
}

.jazenet-logo {
  width: var(--jazenet-logo-width);
}

.jazenet-logo-footer {
  width: 95px;
}

.jazenet-info {
  padding-top: var(--header-height);
}
.jazenet-info .section-content {
  background-image: url("../img/bg/laptop.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jazenet-revolution .section-content {
  background-image: url("../img/bg/matrix.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-style-icon-1 {
  border-top: 1px solid #ffffff;
}
.list-style-icon-1 > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  min-height: 61px;
}

.list-style-icon-2 {
  border-top: 1px solid #ffffff;
}
.list-style-icon-2 > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  min-height: 61px;
  color: #ffffff;
}
.list-style-icon-2 > li > a, .list-style-icon-2 > li a:hover {
  font-family: "Poppins Bold";
}
.list-style-icon-2 > li img {
  width: 43px;
}

.jazenet-numbers .section-content {
  position: relative;
}
.jazenet-numbers .section-content:nth-child(odd) {
  background-color: #151515;
}
.jazenet-numbers .section-content:nth-child(even) {
  background-color: #212121;
}
.jazenet-numbers .section-content:nth-child(3) {
  background-color: #434343;
}
.jazenet-numbers .section-content .numbering {
  font-family: "Poppins Bold";
  font-size: 100px;
}
.jazenet-numbers .section-content img {
  width: 76px;
}

.list-style-labelled-1 > li {
  border-bottom: 1px solid #4A4A4A;
}

.heading-bordered {
  width: 50px;
  height: 5px;
  background-color: #FB4551;
}

.contact-content {
  border-radius: 4px;
}
.contact-content h3 {
  letter-spacing: -3px;
}

.circle-arrow-down {
  width: 50px;
}

.floating-arrow-down-nav {
  position: fixed;
  right: 0;
  padding: 20px;
  bottom: 0;
}

.floating-arrow-up-nav {
  position: fixed;
  right: 0;
  padding: 20px;
  bottom: 0;
  z-index: 11;
  transform: rotate(180deg);
}

/*****************************************************************************************
* LIST
*****************************************************************************************/
.line-height-0 {
  line-height: 0;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1-2 {
  line-height: 1.2;
}

.line-height-1-3 {
  line-height: 1.3;
}

.line-height-1-5 {
  line-height: 1.5;
}

.text-grey {
  color: #888888;
}

.text-theme-primary {
  color: #FB4551;
}

.text-theme-black {
  color: #000000;
}

.bg-theme-primary {
  background-color: #FB4551;
}

.bg-theme-black {
  background-color: #000000;
}

.bordered-top-grey {
  border-top: 1px solid #4A4A4A;
}

.bordered-bottom-grey {
  border-bottom: 1px solid #4A4A4A;
}

.react-confirm-alert-blur {
  filter: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.z-index-1 {
  z-index: 1;
}

.button-has-loader {
  position: relative;
}
.button-has-loader:disabled {
  opacity: 0.9;
}
.button-has-loader::after {
  content: "\f29c";
  font-family: "Ionicons";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 48%;
  opacity: 0;
}
.button-has-loader.animate::after {
  opacity: 1;
  animation: spinning 0.4s linear infinite;
}

/*****************************************************************************************
* RESPONSIVE
*****************************************************************************************/
@media (min-width: 359px) {
  .container, .container-md, .container-sm {
    max-width: 90%;
  }
}
@media (min-width: 576px) {
  .container, .container-md, .container-sm {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  .list-style-icon-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 0;
  }
  .list-style-icon-1 > li {
    border-left: 1px solid #ffffff;
    border-bottom: 0;
    display: block;
  }
  .list-style-icon-1 > li:first-child {
    border-left: 0;
  }
  .list-style-icon-1 > li img {
    width: 40px;
  }
  .list-style-labelled-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .list-style-labelled-1 > li:nth-child(even) {
    border-left: 1px solid #4A4A4A;
  }
  .list-style-labelled-1 > li:last-child {
    border-bottom: 1px solid #4A4A4A;
  }
  .container, .container-md, .container-sm {
    max-width: 90%;
  }
  :root {
    --jazenet-logo-width: 229px !important;
  }
  .jazenet-logo-footer {
    width: 120px;
  }
  .list-style-icon-2 > li img {
    width: 73px;
  }
  .list-style-icon-2 > li > a {
    justify-content: left;
    padding-right: 55px;
    position: relative;
  }
  .list-style-icon-2 > li > a::after {
    content: "";
    display: block;
    background-image: url("../img/icons/white-outline-circle-arrow-right.svg");
    background-position: center;
    background-size: contain;
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
  }
  .list-style-icon-2 > li > a, .list-style-icon-2 > li a:hover {
    font-family: "Poppins Medium";
  }
  .jazenet-numbers .section-content {
    position: relative;
    background-color: transparent !important;
  }
  .jazenet-numbers .section-content:nth-child(odd)::after {
    content: "";
    display: block;
    height: 100%;
    width: 50%;
    background-color: #151515;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .jazenet-numbers .section-content:nth-child(odd) .numbering-col {
    justify-content: end;
  }
  .jazenet-numbers .section-content:nth-child(even)::before {
    content: "";
    display: block;
    height: 100%;
    width: 50%;
    background-color: #212121;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .jazenet-numbers .section-content:nth-child(even) .row {
    flex-direction: row-reverse;
  }
  .jazenet-numbers .section-content:nth-child(3)::after {
    background-color: #434343;
  }
  .jazenet-numbers .section-content .number-letter {
    font-family: "Poppins Bold";
    font-size: 150px;
  }
  .jazenet-numbers .section-content img {
    width: 114px;
  }
  .jazenet-numbers .section-content .number-item {
    position: absolute;
    left: 0;
  }
}
@media (min-width: 992px) {
  .list-style-icon-1 {
    border-right: 1px solid #ffffff;
  }
  .list-style-icon-1 > li:first-child {
    border-left: 1px solid #ffffff;
  }
  .list-style-icon-1 > li:first-child img {
    width: 50px;
  }
  .list-style-labelled-1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .list-style-labelled-1 > li {
    border-left: 1px solid #4A4A4A;
  }
  .list-style-labelled-1 > li:first-child {
    border-left: 0;
  }
  .jazenet-numbers .section-content .numbering {
    font-size: 200px;
  }
  .jazenet-numbers .section-content:nth-child(odd)::after {
    width: 40%;
  }
  .jazenet-numbers .section-content:nth-child(odd) .section-main-icon {
    position: absolute;
    padding-bottom: 80px;
    bottom: 0;
    right: 0;
    width: 40%;
  }
  .jazenet-numbers .section-content:nth-child(odd) .section-main-icon img {
    position: relative;
    left: -84px;
  }
  .jazenet-numbers .section-content:nth-child(even)::before {
    width: 40%;
    top: -25%;
  }
  .jazenet-numbers .section-content:nth-child(even) .number-letter {
    position: relative;
    top: -32%;
  }
  .jazenet-numbers .section-content:nth-child(even) .section-main-icon {
    position: absolute;
    padding-top: 75px;
    top: 0;
    left: 0;
    width: 40%;
    justify-content: end;
  }
  .jazenet-numbers .section-content:nth-child(even) .section-main-icon img {
    position: relative;
    right: -84px;
  }
  .jazenet-numbers .section-content img {
    width: 169px;
  }
  .circle-arrow-down {
    width: 60px;
  }
}
/*****************************************************************************************
* FONT SIZE
*****************************************************************************************/
@media (min-width: 1400px) {
  :root {
    --fs-11: 13px;
    --fs-12: 14px;
    --fs-13: 15px;
    --fs-14: 16px;
    --fs-15: 17px;
    --fs-16: 18px;
    --fs-17: 19px;
    --fs-18: 20px;
    --fs-19: 21px;
    --fs-20: 22px;
    --fs-21: 23px;
    --fs-22: 24px;
    --fs-23: 25px;
    --fs-24: 26px;
    --fs-25: 27px;
    --fs-26: 28px;
    --fs-27: 29px;
    --fs-28: 30px;
    --fs-29: 31px;
    --fs-30: 32px;
    --body-font-size: 16px !important;
    --header-height: 61px !important;
    --button-height: 60px !important;
    --form-input-font-size: 18px !important;
    --form__button-height: 50px !important;
    --form__button-radius: 30px !important;
    --fs-modal-confirm-botton: 18px !important;
    --jazenet-logo-width: 289px !important;
    --list-style-icon-1-width: 50px !important;
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1280px;
  }
}
@media screen and (max-width: 576px) {
  .react-confirm-alert-overlay .react-confirm-alert-body {
    width: 100% !important;
  }
}
@media (max-width: 1399px) {
  .fs-8 {
    font-size: 4px;
  }
  .fs-9 {
    font-size: 5px;
  }
  .fs-10 {
    font-size: 6px;
  }
  .fs-11 {
    font-size: 7px;
  }
  .fs-12 {
    font-size: 8px;
  }
  .fs-13 {
    font-size: 9px;
  }
  .fs-14 {
    font-size: 10px;
  }
  .fs-15 {
    font-size: 11px;
  }
  .fs-16 {
    font-size: 12px;
  }
  .fs-17 {
    font-size: 13px;
  }
  .fs-18 {
    font-size: 14px;
  }
  .fs-19 {
    font-size: 15px;
  }
  .fs-20 {
    font-size: 16px;
  }
  .fs-21 {
    font-size: 17px;
  }
  .fs-22 {
    font-size: 18px;
  }
  .fs-23 {
    font-size: 19px;
  }
  .fs-24 {
    font-size: 20px;
  }
  .fs-25 {
    font-size: 21px;
  }
  .fs-26 {
    font-size: 22px;
  }
  .fs-27 {
    font-size: 23px;
  }
  .fs-28 {
    font-size: 24px;
  }
  .fs-29 {
    font-size: 25px;
  }
  .fs-30 {
    font-size: 26px;
  }
  .fs-31 {
    font-size: 27px;
  }
  .fs-32 {
    font-size: 28px;
  }
  .fs-33 {
    font-size: 29px;
  }
  .fs-34 {
    font-size: 30px;
  }
  .fs-35 {
    font-size: 31px;
  }
  .fs-36 {
    font-size: 32px;
  }
  .fs-37 {
    font-size: 33px;
  }
  .fs-38 {
    font-size: 34px;
  }
  .fs-39 {
    font-size: 35px;
  }
  .fs-40 {
    font-size: 36px;
  }
  .fs-41 {
    font-size: 37px;
  }
  .fs-42 {
    font-size: 38px;
  }
  .fs-43 {
    font-size: 39px;
  }
  .fs-44 {
    font-size: 40px;
  }
  .fs-45 {
    font-size: 41px;
  }
  .fs-46 {
    font-size: 42px;
  }
  .fs-47 {
    font-size: 43px;
  }
  .fs-48 {
    font-size: 44px;
  }
  .fs-49 {
    font-size: 45px;
  }
  .fs-50 {
    font-size: 46px;
  }
  .fs-55 {
    font-size: 51px;
  }
  .fs-60 {
    font-size: 56px;
  }
  .fs-65 {
    font-size: 61px;
  }
  .fs-70 {
    font-size: 66px;
  }
  .fs-75 {
    font-size: 71px;
  }
  .fs-80 {
    font-size: 76px;
  }
  .fs-85 {
    font-size: 81px;
  }
  .fs-90 {
    font-size: 86px;
  }
  .fs-95 {
    font-size: 91px;
  }
  .fs-100 {
    font-size: 96px;
  }
}
@media (max-width: 992px) {
  .fs-md-8 {
    font-size: 6px;
  }
  .fs-md-9 {
    font-size: 7px;
  }
  .fs-md-10 {
    font-size: 8px;
  }
  .fs-md-11 {
    font-size: 9px;
  }
  .fs-md-12 {
    font-size: 10px;
  }
  .fs-md-13 {
    font-size: 11px;
  }
  .fs-md-14 {
    font-size: 12px;
  }
  .fs-md-15 {
    font-size: 13px;
  }
  .fs-md-16 {
    font-size: 14px;
  }
  .fs-md-17 {
    font-size: 15px;
  }
  .fs-md-18 {
    font-size: 16px;
  }
  .fs-md-19 {
    font-size: 17px;
  }
  .fs-md-20 {
    font-size: 18px;
  }
  .fs-md-21 {
    font-size: 19px;
  }
  .fs-md-22 {
    font-size: 20px;
  }
  .fs-md-23 {
    font-size: 21px;
  }
  .fs-md-24 {
    font-size: 22px;
  }
  .fs-md-25 {
    font-size: 23px;
  }
  .fs-md-26 {
    font-size: 24px;
  }
  .fs-md-27 {
    font-size: 25px;
  }
  .fs-md-28 {
    font-size: 26px;
  }
  .fs-md-29 {
    font-size: 27px;
  }
  .fs-md-30 {
    font-size: 28px;
  }
  .fs-md-31 {
    font-size: 29px;
  }
  .fs-md-32 {
    font-size: 30px;
  }
  .fs-md-33 {
    font-size: 31px;
  }
  .fs-md-34 {
    font-size: 32px;
  }
  .fs-md-35 {
    font-size: 33px;
  }
  .fs-md-36 {
    font-size: 34px;
  }
  .fs-md-37 {
    font-size: 35px;
  }
  .fs-md-38 {
    font-size: 36px;
  }
  .fs-md-39 {
    font-size: 37px;
  }
  .fs-md-40 {
    font-size: 38px;
  }
  .fs-md-41 {
    font-size: 39px;
  }
  .fs-md-42 {
    font-size: 40px;
  }
  .fs-md-43 {
    font-size: 41px;
  }
  .fs-md-44 {
    font-size: 42px;
  }
  .fs-md-45 {
    font-size: 43px;
  }
  .fs-md-46 {
    font-size: 44px;
  }
  .fs-md-47 {
    font-size: 45px;
  }
  .fs-md-48 {
    font-size: 46px;
  }
  .fs-md-49 {
    font-size: 47px;
  }
  .fs-md-50 {
    font-size: 48px;
  }
  .fs-md-55 {
    font-size: 53px;
  }
  .fs-md-60 {
    font-size: 58px;
  }
  .fs-md-65 {
    font-size: 63px;
  }
  .fs-md-70 {
    font-size: 68px;
  }
  .fs-md-75 {
    font-size: 73px;
  }
  .fs-md-80 {
    font-size: 78px;
  }
  .fs-md-85 {
    font-size: 83px;
  }
  .fs-md-90 {
    font-size: 88px;
  }
  .fs-md-95 {
    font-size: 93px;
  }
  .fs-md-100 {
    font-size: 98px;
  }
}
@media (max-width: 768px) {
  .fs-sm-8 {
    font-size: 2px;
  }
  .fs-sm-9 {
    font-size: 3px;
  }
  .fs-sm-10 {
    font-size: 4px;
  }
  .fs-sm-11 {
    font-size: 5px;
  }
  .fs-sm-12 {
    font-size: 6px;
  }
  .fs-sm-13 {
    font-size: 7px;
  }
  .fs-sm-14 {
    font-size: 8px;
  }
  .fs-sm-15 {
    font-size: 9px;
  }
  .fs-sm-16 {
    font-size: 10px;
  }
  .fs-sm-17 {
    font-size: 11px;
  }
  .fs-sm-18 {
    font-size: 12px;
  }
  .fs-sm-19 {
    font-size: 13px;
  }
  .fs-sm-20 {
    font-size: 14px;
  }
  .fs-sm-21 {
    font-size: 15px;
  }
  .fs-sm-22 {
    font-size: 16px;
  }
  .fs-sm-23 {
    font-size: 17px;
  }
  .fs-sm-24 {
    font-size: 18px;
  }
  .fs-sm-25 {
    font-size: 19px;
  }
  .fs-sm-26 {
    font-size: 20px;
  }
  .fs-sm-27 {
    font-size: 21px;
  }
  .fs-sm-28 {
    font-size: 22px;
  }
  .fs-sm-29 {
    font-size: 23px;
  }
  .fs-sm-30 {
    font-size: 24px;
  }
  .fs-sm-31 {
    font-size: 25px;
  }
  .fs-sm-32 {
    font-size: 26px;
  }
  .fs-sm-33 {
    font-size: 27px;
  }
  .fs-sm-34 {
    font-size: 28px;
  }
  .fs-sm-35 {
    font-size: 29px;
  }
  .fs-sm-36 {
    font-size: 30px;
  }
  .fs-sm-37 {
    font-size: 31px;
  }
  .fs-sm-38 {
    font-size: 32px;
  }
  .fs-sm-39 {
    font-size: 33px;
  }
  .fs-sm-40 {
    font-size: 34px;
  }
  .fs-sm-41 {
    font-size: 35px;
  }
  .fs-sm-42 {
    font-size: 36px;
  }
  .fs-sm-43 {
    font-size: 37px;
  }
  .fs-sm-44 {
    font-size: 38px;
  }
  .fs-sm-45 {
    font-size: 39px;
  }
  .fs-sm-46 {
    font-size: 40px;
  }
  .fs-sm-47 {
    font-size: 41px;
  }
  .fs-sm-48 {
    font-size: 42px;
  }
  .fs-sm-49 {
    font-size: 43px;
  }
  .fs-sm-50 {
    font-size: 44px;
  }
  .fs-sm-55 {
    font-size: 49px;
  }
  .fs-sm-60 {
    font-size: 54px;
  }
  .fs-sm-65 {
    font-size: 59px;
  }
  .fs-sm-70 {
    font-size: 64px;
  }
  .fs-sm-75 {
    font-size: 69px;
  }
  .fs-sm-80 {
    font-size: 74px;
  }
  .fs-sm-85 {
    font-size: 79px;
  }
  .fs-sm-90 {
    font-size: 84px;
  }
  .fs-sm-95 {
    font-size: 89px;
  }
  .fs-sm-100 {
    font-size: 94px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:root {
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-21: 21px;
  --fs-22: 22px;
  --fs-23: 23px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fs-26: 26px;
  --fs-27: 27px;
  --fs-28: 28px;
  --fs-29: 29px;
  --fs-30: 30px;
  --body-font-size: 14px;
  --header-height: 50px;
  --button-height: 50px;
  --form-input-font-size: 14px;
  --form__button-height: 45px;
  --form__button-radius: 25px;
  --fs-modal-confirm-botton: 14px;
  --jazenet-logo-width: 170px;
  --list-style-icon-1-width: 35px;
}

@media (min-height: 900px) {
  .jazenet-info .section-content {
    height: calc(100vh - var(--header-height));
  }
  .jazenet-info .section-content > .container {
    height: 100%;
  }
}
@media (min-height: 800px) and (min-width: 992px) {
  .jazenet-unlock .section-content {
    height: 819px;
  }
  .jazenet-unlock .section-content > .container {
    height: 100%;
  }
  .jazenet-revolution .section-content {
    height: 707px;
  }
  .jazenet-revolution .section-content .container {
    height: 100%;
  }
  .jazenet-ready .section-content {
    height: 700px;
  }
  .jazenet-ready .section-content .container {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */