
@font-face {
    font-family: 'Poppins Black';
    font-display: block;
    src: url("Poppins-Black.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Black-Italic';
    font-display: block;
    src: url("Poppins-BlackItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    font-display: block;
    src: url("Poppins-Bold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold-Italic';
    font-display: block;
    src: url("Poppins-BoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins ExtraBold';
    font-display: block;
    src: url("Poppins-ExtraBold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins ExtraBold-Italic';
    font-display: block;
    src: url("Poppins-ExtraBoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins ExtraLight';
    font-display: block;
    src: url("Poppins-ExtraLight.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins ExtraLight-Italic';
    font-display: block;
    src: url("Poppins-ExtraLightItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Italic';
    font-display: block;
    src: url("Poppins-Italic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Light';
    font-display: block;
    src: url("Poppins-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Light-Italic';
    font-display: block;
    src: url("Poppins-LightItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Medium';
    font-display: block;
    src: url("Poppins-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Medium-Italic';
    font-display: block;
    src: url("Poppins-MediumItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    font-display: block;
    src: url("Poppins-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins SemiBold';
    font-display: block;
    src: url("Poppins-SemiBold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins SemiBold-Italic';
    font-display: block;
    src: url("Poppins-SemiBoldItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Thin';
    font-display: block;
    src: url("Poppins-Thin.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Thin-Italic';
    font-display: block;
    src: url("Poppins-ThinItalic.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
